[submodule "Backend"]
	path = Backend
	url = https://github.com/BryanDYepes/Backend-Edumon.git
	branch = master
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/vXro1/Edumon-Repositorio-nuevo.git
	branch = refactor/design-system
